@model dvdCollection.Models.dvd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dvd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dvdTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dvdTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dvdDirector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dvdDirector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dvdId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
